@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <p>
        POESESSID: <input type="text" asp-for="SessionId" />
    </p>
    <p>
        League: <select asp-for="League" asp-items="Model.Leagues"></select>
    </p>
    <p>
        Realm: <select asp-for="Realm" asp-items="Model.Realms"></select>
    </p>
    <p>
        Account Name: <input type="text" asp-for="AccountName" />
    </p>
    <p>
        Stash Tab Name: <input type="text" asp-for="TabName" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

<p>Result:</p>
<div class="stash">
    @foreach (var item in Model.Result)
    {
        string widthClass = $"iWidth{item.Width}";
        string heightClass = $"iHeight{item.Height}";

        string leftPixels = $"{47.5 * item.PositionX}px";
        string topPixels = $"{47.5 * item.PositionY}px";

        <div class="item @widthClass @heightClass" style="position: absolute; left: @leftPixels; top: @topPixels">
            <img src="@item.IconUrl" />
        </div>
    }
</div>